@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.blogPost {
    border: 1px solid var(--mobby-special);
    padding: var(--m-size);

    font-family: var(--font-bengali);

    opacity: 0; 
    animation: fadeIn var(--speed-slow) forwards; 
}

.blogPostTitle {
    font-size: var(--m-size);
    font-weight: bold;
    margin-bottom: var(--m-size);
}

.blogPostBody {
    font-size: var(--s-size);
    margin-bottom: var(--xs-size);
}

.blogPostMeta {
    font-size: var(--xs-size);
}
