@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --mobby-special: #9cbcba;

    --font-bengali: 'Noto Serif Bengali', serif;
    --font-roboto: 'Roboto', sans-serif;

    --xs-size: 1rem;
    --s-size: 1.2rem;
    --m-size: 1.6rem;
    --l-size: 3.2rem;
    --xl-size: 4.8rem;
    --xxl-size: 5.6rem;

    --speed-slow: 1.2s;
    --speed-fast: 0.4s;
}

body {
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
}